body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image/pic2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
}
.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p{
    color: #fff;
}
.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0)};
    100%{transform: translateY(10px)};
}
.about{
    padding-top: 100px;
    padding-bottom: 50px;
    color: #000;
    background-color: #ebe6e6;
}
.profile-img{
    height: 400px;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color: #000;
}
.navbar-brand img{
    height: 70px;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: #fff !important;
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar{
    border-radius: 16px;
    background: rgb(62, 122, 252) !important;
}
.resume{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ceb1b1;
}
.resume h3{
    margin-bottom: 50px;
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 35px;
    width: 1px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /*background: rgb(219, 173, 173);*/
}
/*.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}*/
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #000;
    left: 25px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.text-center{
    text-decoration: underline;
}
#about{
    background-color: #ebe6e6;
}